body{
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
}

.home-body{
    height: 65vh;
}

/* #region NavBar styling */
.navbar{
    padding: 30px;
}

.mobile-nav{
    display: none;
}

.right-side{
    margin: 0px;
    /* position: relative; */
    /* width: 50%; */
    left: 50%;
    display: flex;
    justify-content: flex-end;
}

.navbar-text-wrapper{
    margin-right: 7%;
}

.navbar-text-wrapper a{
    text-decoration: none;
    color: #cccccc;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 425px){
    .desktop{
        display: none;
    }

    .navbar{
        padding-top: 15px;
        padding-right: 15px;
    }

    .mobile-nav{
        display: block;
    }

    .navigation-panel{
        display: block;

        position: fixed;
        top: 0;
        margin: 0;
        width: 60vw;
        height: 120vh;
        padding-top: 40%;
        padding-left: 15px;
        box-sizing: border-box;
        background-color: rgb(56, 230, 230);
        /* mix-blend-mode: exclusion; */
        left: 40%;
        transition: left 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        
        z-index: 1;
    }
    .navigation-panel.hide{
        transition: left 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        left: 100%;

        /* display: none; */
    }

    .navigation-panel a{
        display: block;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1.2em;
        color: rgb(255, 255, 255);
        margin: 25px 0 0px 10px;
        background-color: rgb(47, 47, 71);
        padding: 20px;
    }

    .hamburger-menu{
        /* float: right; */
        width: fit-content;
        margin-left: auto;

        /* width: 50px; */
        /* height: 50px; */
        position: relative;
        z-index: 5;
    }

    .hamburger-menu div{
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;

        transition: transform 0.4s ease-in-out, 
                    opacity 0.4s ease-in-out,
                    background-color 0.4s ease-in-out;
    }

    .hamburger-menu.cross > div{
        background-color: black;
    }

    .hamburger-menu.cross > div:first-child{
        transform: translateX(10%) rotate(45deg) translateY(420%);
    }
    .hamburger-menu.cross > div:nth-child(2){
        opacity: 0;
    }
    .hamburger-menu.cross > div:last-child{
        transform: translateX(10%) rotate(-45deg) translateY(-420%);
    }
}

@media screen and (min-width: 1500px){
    .navbar-text-wrapper a{
        font-size: 1.2em;
    }
}

/* #endregion Navbar styling */

/* #region Main-Codevengers-header-styling */
.codevengers-text-container{
    width: 100%;
}

.codevengers-text-wrapper{
    width: fit-content;
    margin: auto;
}

.codevengers-text-wrapper h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 9em;
    font-weight: 900;
    width: 0%;
    overflow: hidden;
}

.codevengers-text-wrapper h1{
    animation: headerAnimation 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards 0.3s;
}

@media screen and (max-width: 425px){
    .codevengers-text-container{
        margin-top: 10%;
    }

    .codevengers-text-wrapper h1{
        font-size: 2.5em;
    }
}

@media screen and (min-width: 1500px){
    .codevengers-text-wrapper h1{
        font-size: 10em;
    }
}

@keyframes headerAnimation{
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}

/* #endregion-Main-Codevengers-header-styling */

/* #region Background Text Styling */
.background-text-items{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.back-text-wrapper{
    position: absolute;
    z-index: -1;
    width: 100%;
}


/*THE*/
#the1{
    color: #2B2B2B;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14em;
    top: 2vh;
    left: 5vw;
}

/* HUSTLE */
#hustle{
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 10em;
    top: 10vh;
    left: 42vw;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #404040;
}

/* THE */
#the2{
    color: #2B2B2B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 17em;
    top: 27vh;
    left: 15vw;
}

/* GRIND */
#grind{
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 15em;
    top: 55vh;
    left: 40vw;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #404040;
}

@media screen and (max-width: 425px){
    #the1{
        font-size: 10em;
        top: 5vh;
        left: 0vw;
    }
    #hustle{
        font-size: 5em;
        top: 27vh;
        left: unset;
        right: -20%;
    }
    #the2{
        font-size: 10em;
        top: 35vh;
        left: 0vw;
    }
    #grind{
        font-size: 6.5em;
        top: 55vh;
        left: unset;
        right: -20%;
    }
}

@media screen and (min-width: 1500px){
    
    #the1{font-size: 16em;}
    #hustle{font-size: 11em;}
    #the2{font-size: 19.5em;}
    #grind{font-size: 18em;}
}

/*#endregion Background Text Styling  */

/* #region Moto Text Styling */

.moto-container{
    display: none;
}

@media screen and (max-width: 425px){

    .moto-container{
        margin: 20% 30px;
        width: fit-content;
        /* transform: translateX(-30%); */
        font-family: 'Montserrat', sans-serif;
        font-size: 1.7em;
        line-height: 0.6em;
        /* text-align: center; */
        color: white;
    }
}

/* #endregion Moto Text Styling */

/* #region See-our-work styling */
.see-our-work{
    width: fit-content;
    margin-left: 5%;
    position: absolute;
    top: 75vh;
}

.see-our-work > .heading-text-wrapper{
    width: fit-content;
}

.see-our-work > .heading-text-wrapper h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #cccccc;
    font-size: 2em;
    margin: 0;
}

.line-container{
    background-color: #56eb29;
	width: initial;
    height: 3px;
    transition: width 0.2s;
}

.ourworkcontent-text-wrapper{
    width: 70%;
}

.ourworkcontent-text-wrapper > p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    /* white-space: nowrap; */
    color: #cccccc;
}

@media screen and (max-width: 425px){
    .see-our-work > .heading-text-wrapper a{
        font-size: 1.4em;
    }
    .ourworkcontent-text-wrapper > p{
        font-size: 1em;
    }
}

@media screen and (min-width: 1500px){
    
    .see-our-work > .heading-text-wrapper a{
        font-size: 2.5em;
    }
    .ourworkcontent-text-wrapper > p{
        font-size: 1.4em;
    }
}

/* #endregion See out work styling */

/* #region Projects Page Styling */
.project-body{
    margin: 450px 20px 100px;
    box-sizing: border-box;
    position: relative;
    /* border: 1px solid rgb(255, 255, 255); */
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Not Sure About This 170vh */
    grid-auto-rows: 170vh;
    /* background-color: lightslategray; */
}

.text-grid{
    display: grid;
    justify-items: center;
    align-content: space-between;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    /* border: 1px solid blue; */
}

.project-text-wrapper{
    /* border: 1px solid rgb(211, 114, 114); */
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 2em;

    width: 80%;
    /* margin-top: 300px;
    margin-left: 100px; */
}

.bg-texts-container{
    position: absolute;
    width: calc(100vw - 40px);
    z-index: -1;
}

.bg-text-wrapper{
    float: right;
    margin-right: 150px;
    /* width: 50%; */
    font-family: 'Montserrat', sans-serif;
    color: #2a2a2a;
    /* white-space: nowrap; */
    font-weight: 900;
    font-size: 10em;
    /* line-height: 1.5em; */
}

/* .project-texts-container{
    border: 1px solid rgb(197, 48, 48);
} */

/* .project-texts-container > .project-text-wrapper:last-child{
} */


/* .project-images-container{
    border: 1px solid rgb(82, 82, 82);
} */

.project-image-wrapper{
    /* border: 1px solid rgb(82, 82, 82); */
    margin: auto;
}

#sticky-item{
    position: sticky;
    /*half of Screen height - the half of height of the image conatiner */
    top: calc(50vh - 250px);
}
  
.distortion {
    width: 500px;
    height: 500px;
    overflow: hidden;
    /* background-color: lightblue; */
    /* if script not supported*/
    /* background: url(Projectimg1.png);
    background-size: cover;
    background-position:center; */
}

.grid-wrapper.mobile{
    display: none;
}

@media screen and (max-width: 425px){

    .project-body{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .grid-wrapper.desktop{
        display: none;
    }

    .grid-wrapper.mobile{
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    /* .grid-wrapper.mobile{
    background-color: rgb(66, 66, 66);
    }

    .project-image-conatiner{
        border: 2px solid violet;
    }

    .project-text-wrapper{
        border: 2px solid violet;
    } */

    .grid-wrapper.mobile > .project-image-conatiner > .project-image-wrapper{
        position: static;
        width: 150px;
        height: 150px;
    }

    .project-image-conatiner.img-1 > .project-image-wrapper{
        background-image: url(Projectimg1.png);
        background-size: cover;
    }

    .project-image-conatiner.img-2 > .project-image-wrapper{
        background-image: url(Projectimg2.png);
        background-size: cover;
    }

    .grid-wrapper.mobile > .text-2{
        text-align: right;
    }

    .project-text-wrapper{
        font-size: 0.7em;
        text-align: left;
        line-height: 1.7em;
    }

    .bg-texts-container{
        top: 36%;
    }

    .bg-text-wrapper{
        font-size: 6em;
        margin-right: 0;
        line-height: 1em;
    }
}


/* #endregion Projects Page Styling */

/* #region Story Page Styling */


.main-container{
    margin: 50vh 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.card-container{
    /* margin: 0 50px; */
    width: 25%;
    height: 750px;
    overflow: hidden;
    position: relative;
}

.card-container > .img-wrapper{
    width: 100%;
    height: 100%;
    /* background-color: lawngreen; */
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: 750px calc(750px * 1.5); */
    opacity: 40%;
}

#story-card-1 > .img-wrapper{
    background-image: url('Our-Story1.jpg');
    background-size: 750px auto;
    background-position: bottom center;
}

#story-card-2 > .img-wrapper{
    background-image: url('Our-Services1.jpg');
    background-size: calc(750px * 1.5);
    background-position: top left;
}

#story-card-3 > .img-wrapper{
    background-image: url('Our-Goals1.jpg');
    background-size: 750px auto;
    background-position-y: top;
}


.card-container > .text-wrapper{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 35vw;
    height: inherit;
    /* background-color: rgba(0, 0, 0, 0.185); */
}

.card-container > .text-wrapper > h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
    position: relative;
    top: 200px;
    /* color: black; */
}


.card-container > .text-wrapper > p{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
    top: 200px;
    opacity: 0%;
    display: none;
}

#story-card-2 > .text-wrapper > p{
    color: black;
    top: 300px;
}

@media screen and (max-width: 425px){
    .main-container{
        margin-top: 150px;
        margin-bottom: 150px;
        display: block;   
    }

    .card-container{
        width: 80%;
        height: 90vh;
        margin: 100px auto;
    }

    #story-card-1 > .img-wrapper{
        background-size: cover;
    }
    #story-card-2 > .img-wrapper{
        background-size: cover;
    }
    #story-card-3 > .img-wrapper{
        background-size: cover;
    }

    .card-container > .text-wrapper{
        width: 100%;
        /* height: auto; */
        /* position: absolute; */
        left: 0;
        transform: none;
        box-sizing: border-box;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .card-container > .text-wrapper > h1{
        font-size: 2em;
        top: 0px;
        position: initial;
    }

    .card-container > .text-wrapper > p{
        font-size: 0.8em;
        line-height: 2em;
        text-align: justify;
        top: 0;
        display: block;
        opacity: 80%;
    }

    #story-card-2 > .text-wrapper > p{
        top: 0;
        color: white;
    }
}


/* #endregion Story Page Styling */

/* #region Team Page Styling */

.team-page{
    height: 600vh;
}

.team-page-content{
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 100vh;
    background-image: url(BackgroundSvg/Triangles.svg);
}

.team-img-container{
    position: absolute;
    width: calc(100vw - 17px);
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    /* background-color: rgba(255, 255, 255, 0.801); */
}

.team-img-container > .img-wrapper{
    position: relative;
    top: 50vh;
}

.team-img-container > .img-wrapper > img{
    position: absolute;
    width: 10vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -49.1%);
    pointer-events: none;
}

/* Profiles Styling */

.profiles-container.mobile{
    display: none;
}

.profiles-container.desktop{
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.profiles-container > .upper-row, .lower-row{
    display: flex;
    justify-content: space-around;
}

/* .profile-container{
    border: 1px solid white;
    background-color: tomato;
} */

/* .profile-container:nth-child(2){grid-column: span 2;}
.profile-container:nth-child(3){grid-column: span 2;}
.profile-container:nth-child(4){grid-column: span 2;}
.profile-container:nth-child(1){grid-column: span 2;}
.profile-container:nth-child(5){grid-column: span 2;}
.profile-container:nth-child(6){grid-column: span 2;}
.profile-container:nth-child(7){grid-column: span 1;}
.profile-container:nth-child(8){grid-column: span 2;}
.profile-container:nth-child(9){grid-column: span 2;}
.profile-container:nth-child(10){grid-column: span 2;}
.profile-container:nth-child(11){grid-column: span 2;}
.profile-container:nth-child(12){grid-column: span 2;}
.profile-container:nth-child(13){grid-column: span 1;} */

/* .profile-container:nth-child(-n + 6){
    height: 50%;
    grid-column: span 2;
} */

.profile-img-wrapper{
    width: 15vw;
    height: 15vw;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 7px solid white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    background-color: rgb(191, 191, 191);
}

@media screen and (max-width: 425px){

    .team-page{
        height: 140vh;
    }

    .team-page-content{
        position: initial;
        overflow: initial;

        background-image: none;
    }

    .team-img-container{
        display: none;
    }

    .profiles-container.desktop{
        display: none;
    }

    .profiles-container.mobile{
        padding: 0 20px;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
    }

    .profile-img-wrapper{
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        border: none;

        border: 5px solid white;
    }


}

/* .profile-img-wrapper:focus{
    border-radius: 0%;
} */

#m1 > div{background-image: url(ProfileImages/Darshan.png);}
#m2 > div{background-image: url(ProfileImages/Dheeraj.png);}
#m3 > div{background-image: url(ProfileImages/Mihika.png);}
#m4 > div{
    background-image: url(ProfileImages/Parinda.png);
    background-position: center top;
}
#m5 > div{background-image: url(ProfileImages/Meet.png);}
#m6 > div{
    background-image: url(ProfileImages/Jayb.png);
    background-position: center top;
    background-size: cover;
}
#m7 > div{background-image: url(ProfileImages/Jayk.png);}
#m8 > div{background-image: url(ProfileImages/Parth.png);}
#m9 > div{background-image: url(ProfileImages/Rohit.png);}
#m10 > div{
    background-image: url(ProfileImages/Shyren.png);
    background-position: center top;
    background-size: contain;
}
#m11 > div{
    background-image: url(ProfileImages/Varun.png);
    background-position: center top;
    background-size: contain;
}

/* #endregion*/

/* #region Contact Page Styling */

.contact-page{
    height: 100vh;
}

.contact-page.mobile{
    display: none;
}
.content-container{
    height: 100%;
    background-color: #e3edf7;
    display: flex;
}

.content-container > .text-container{
    width: 50%;
    padding: 4%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-page> .content-container> .text-container h1{
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    white-space: nowrap;
    margin: 0;
}

.contact-page> .content-container> .text-container p{
    font-size: 2.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
}

.form-container{
    box-sizing: border-box;
    width: 100%;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15);
}

.form-container > form{
    width: inherit;
}

.form-container > form > label{
    display: inline-block;
    box-sizing: border-box;
    /* width: 70%; */
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: rgb(245, 245, 245);
}

.form-container > form > label > h3{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin: 1px;
}

.form-container > form > label:nth-child(1){
    width: 40%;
}
.form-container > form > label:nth-child(2){
    width: 59%;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline-color: rgb(134, 134, 134);
}

.form-container > form > label > input{
    margin-top: 8px;
    width: 100%;
    display: block;
    background-color: inherit;
    border: none;
}

.form-container > form > textarea{
    margin: 30px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    resize: none;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.form-container > form > button{
    margin-left: 50%;
    transform: translate(-50%);
    height: 50px;
    width: 200px;
    border-radius: 50px;
    font-size: 1.4em;
    font-family: 'Montserrat';
    border: none;
    color: #ffffff;
    background-color: rgb(66, 66, 66);
}

.contact-page> .content-container> .img-container{
    /* background-color: violet; */
    /* height: 80%; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-page> .content-container> .img-container> .img-wrapper{
    /* background-color: lawngreen; */
    margin: 0;
}


.contact-page> .content-container> .img-container> .img-wrapper> img{
    width: 100%;
    height: auto;
}

.social-media-links-container{
    width: fit-content;
    margin: 0 auto;
}

.social-media-links-container img{
    width: 70px;
    height: 70px;
    padding: 15px;
    margin: 0 15px;
    box-sizing: border-box;
    background-color: inherit;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0);
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);

    transition: transform 0.5s;
}

.social-media-links-container img:hover{
    border: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
    transform: scale(0.96);
}

@media screen and (max-width: 425px){

    .contact-page{
        display: none;
        height: auto;
    }
    .contact-page.mobile{
        display: block;
    }

    .content-container{
        display: flex;
        flex-direction: column;
    }

    .content-container > .heading-container{
        margin: 10% 0;
    }

    .content-container > .heading-container h1{
        font-size: 1.9em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        white-space: nowrap;
        width: fit-content;
        margin: 0 auto;
    }

    .content-container > .img-wrapper > p{
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        position: absolute;        
        left: 18vw;
    }

    .content-container > .img-wrapper > img{
        width: 100vw;
    }

    .form-container{
        width: 90%;
        margin: 10% auto;
    }

    .form-container > form{
        margin: 0 auto;
    }

    .form-container > form > label:nth-child(n){
        width: 100%;
        margin-bottom: 10px;
    }

    .form-container > form > button{
        margin: 0;
        width: 100%;
        transform: none;
    }

    .social-media-links-container > .img-container{
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .social-media-links-container h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8em;
        font-weight: 500;
    }

    .social-media-links-container hr{
        margin: 0;
    }

    .social-media-links-container img{
        width: 50px;
        height: 50px;
        margin: 0 -5px;
        box-shadow: none;
        transition: none;
    }

    .social-media-links-container img:hover{
        box-shadow: none;
    }
}

/* #endregion Contact Page */
